# ========================
# Python
# ========================

# Virtual environments
.venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# ========================
# R / RStudio
# ========================

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rdata
.RDataTmp

# Jupyter Notebooks
.ipynb_checkpoints/
.jupyter/

# User-specific files
.Ruserdata
.Rproj.user/

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# Translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# ========================
# OS / IDE
# ========================

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Quarto
/.quarto/
